@font-face {
    font-family: 'unifont'; 
    src: url('unifont-17.0.02.otf') format('opentype');
    }
p,h1,h2,h3,a{
    font-family: 'unifont';
    line-height: 1.4;
    text-align:center;
    display:flex; justify-content: center;
     text-align: center;
      color: white;
}

.menu-checkbox {
    display: none;
}

.h-icon {
    display: none;
    cursor: pointer;
}

body{
    margin: 0;
    background: radial-gradient(#155eac,#013570); }

header{
    background-color: #003266;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 3px solid #3845F1;
}

header h1{
    color: white;
    font-size: 2em;
    margin-left: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1px;
    margin-right: 60px;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #1d3f7a;
    border: 3px inset #3845F1;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
nav a:hover{
    background-color: #1C6DC3;
    border-style: outset;
}
.now{
    background-color: #1C6DC3;
    border-style: outset;
}


div maincard {
    background-color:#3945f8;
flex: 1 1 auto;
 border-style: outset;
margin:5%;
height:21vw;
    text-align: center;
        border: 100px outset #0c1cf5;
        border-width:10px;
      
        
        color:#ffffff;
}

.banner{
     background-size:90%;
        background-position:left;
       
        background-repeat:no-repeat;text-align:center;
}


.sbanner{
    font-family: 'unifont';
    text-align:center;
    color:#ffffff;
    font-size:30px;
    border-bottom: 2px solid white;
    display: inline;
    padding:0px 100px 0px 100px;"
}


div go{

text-decoration: none;
    color: white;
    display: block;
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #1d3f7a;
    border: 3px inset #3845F1;
    border-radius: 5px;
    transition: all 0.2s ease-in;



}

div go:hover{
text-decoration: none;
    color: white;
    display: block;
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #1d3f7a;
    border: 3px inset #3845F1;
    border-radius: 5px;
    transition: all 0.2s ease-in;
 animation: jump 0.7s ease-in infinite, glow 0.7s ease-in-out infinite;


}

maincard p{
margin-top: 20%;
    font-size:150%;
   font-family: 'unifont'
}
maincard img{


    filter: drop-shadow(5px 5px #00000050);
    margin-top:20%;
    margin-bottom:;
    height:25%;
    width:25%;
    align-items: center;
    background-color:#02125A;
}

footer{
   
background-size:contain;
       text-align:center;
   
    align-items: center;

    width: 100%;
    height: 100px;
    top: 0;
  font-family: 'unifont';
}
footer p{position: relative; 
    bottom:-20px;
    font-family: 'unifont';
font-size:16px;
    color:#ffffff;
     background-color:#00000085;
     display: inline;
    padding:5px;
    
}
footer a{
     color:#ffffff;
 
     display: inline-block;
    font-family: 'unifont';
    font-size:20px;
    padding:0 20px 0 20px
}
@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 5px rgba(65, 105, 225, 0.5);
    }
    50% {
        text-shadow: 0 0 20px rgba(65, 105, 225, 1), 0 0 30px rgba(100, 149, 237, 0.5);
    }
}


.animate-glow {
    animation: glow 2s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
}

.animate-pulse-slow {
    animation: pulse 2s ease-in-out infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.animate-bounce-slow {
    animation: bounce 2s ease-in-out infinite;
}

.animate-bounce {
    animation: bounce 1s ease-out infinite;
}

@keyframes jump {
    0%, 100% {
        transform: translateX(0px);
    }
    35% {
        transform: translateX(20px);
    }
}
.animate-jump {
    animation: jump 0.5s ease-in infinite;
}
.all-box {
    max-width: 100%;
}

.border {
    border: 5px inset #3845F1;
}

.tab-pane{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
     animation: bounce 2s ease-in-out infinite;s
}
.square {
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background-color: #0d519a;
    text-align: center;
    border: 3px inset #3845F1;
}

.box-1 {
    background-color: #002D61;
    margin: 10px;
    width: calc(50% - 100px);
    height: 150px;
    color: white;
     text-align: center;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    
}

.box-1 p {
    margin-right: 20px;
}

.box-1:hover,
.box-2:hover,
.box-3:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


body {
  margin: 0;
  background: radial-gradient(#0d519a, #013570);
}

input{
    font-family: 'unifont';
    line-height: 1.4;
    font-size: 1.5em;

}

@font-face {
  font-family: 'unifont';
  src: url('other/unifont-17.0.02.otf') format('opentype');
}


.card-main {
 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#card-header {
  font-size: 2.5rem;
  font-family: 'unifont';
  line-height: 1.4;
  padding: 20px;
}
s
.card-body {
  width: 60%;
}


.name-field::placeholder,
.message-field::placeholder {
  color: white;
    font-family: 'unifont';
      font-size: 1.5rem;
}

.name-field,
.message-field {
  padding: 15px;
  width: 70vw;
  border: none;
  outline : none;
  background-color: #18326c;
  color: white;
   box-shadow: 0px 0px 100px 5px rgba(74, 131, 252, 0.735);
}

.name-field::placeholder,
.message-field::placeholder {
  opacity: 0.5;
}

.message-list {
  list-style: none;
  margin: 0px;
  padding: 20px;
  height: 40vh;
  overflow: auto;
  font-family: 'unifont';
  line-height: 1.4;
  font-size: 1.5em;
  width: 490px;

}

.message-item {
  font-weight: 200;
  margin-bottom: 10px;
  line-height: 24px;
}

.message-item:last-child {
  margin: 0px;
}

.menu-checkbox {
    display: none;
}

.h-icon {
    display: none;
    cursor: pointer;
}

@media (max-width:1024px) {
.banner{

     background-size:100%;
        background-position:top,left;
      
        background-repeat:no-repeat;text-align:center;
}
.sbanner{
    font-family: 'unifont';
    text-align:center;
    color:#ffffff;
    font-size:30px;
    border-bottom: 2px solid white;
    display: inline;
    padding:0px 50px 0px 50px;"
}

    /*header*/
    header h1 {
        font-size: 1.8em;
        margin-left: 30px;
    }

    nav ul {
        margin-right: 30px;
        padding-left: 10px;
    }

    nav a {
        font-size: 1.2em;
    }

    /*header end*/
     .box-1 {
    background-color: #002D61;
    margin: 10px;
    width: 80%;
    height: 115px;
    color: white;
     text-align: center;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    
}
}

@media(max-width:768px) {

.banner{
     background-size:100%;
        background-position:top,left;
      
        background-repeat:no-repeat;text-align:center;
}
.sbanner{
    font-family: 'unifont';
    text-align:center;
    color:#ffffff;
    font-size:30px;
    border-bottom: 2px solid white;
    display: inline;
    padding:0px 30px 0px 30px;"
}



    /*header*/
    header h1 {
        font-size: 1.6em;
        margin-left: 25px;
    }

p,h1,h2,h3,a{
    font-family: 'unifont';
    line-height: 1;
    text-align:center;
    display:flex; justify-content: center;
     text-align: center;
      color: white;
}

    .h-icon {
        display: block;
        margin-top: 5px;
        margin-right: 30px;
        z-index: 1001;
        position: relative;
    }

    .h-icon span {
        display: block;
        width: 28px;
        height: 2px;
        background: white;
        margin: 6px 0;
        transition: all 0.3s ease;
    }
     nav {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #003266;
        border-bottom: 3px solid #3845F1;
        max-height: 0;
        z-index: 1000;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
     nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-right: 0;
        padding: 20px;
        gap: 10px;
    }

    .menu-checkbox:checked~nav {
        max-height: 1000px;
    }

    nav a {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .menu-checkbox:checked~.h-icon span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-checkbox:checked~.h-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-checkbox:checked~.h-icon span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /*header end*/

    .box-1 {
    background-color: #002D61;
    margin: 10px;
    width: 100%;
    height: 100px;
    color: white;
     text-align: center;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    
}

}