p,h1,h2,h3,a{
    font-family: 'unifont';
    line-height: 1.4;
}
@font-face {
    font-family: 'unifont'; 
    src: url('/unifont-17.0.02.otf') format('opentype');
    }
@keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);}
    }

   
header{
    background-color: #003266;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 3px solid #3845F1;
    margin-bottom: 20px;
    z-index: 1000;
}
header h1{
    color: white;
    font-size: 2em;
    margin-left: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1px;
    margin-right: 60px;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #1d3f7a;
    border: 3px inset #3845F1;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
nav a:hover{
    background-color: #1C6DC3;
    border-style: outset;
}
.now{
    background-color: #1C6DC3;
    border-style: outset;
}
.bar{
    height:200px;
}
body{
    margin: 0;
background: radial-gradient(#155eac,#013570);  
 display: flex;
    flex-direction: column;}

.card{
   text-decoration: none;
   display: flex;
    width: 780px;
    height:400px;
    margin: 50px auto;
    margin-bottom: 60px;
    background-color:#313dd8; 
    padding: 10px;
    padding-left: 35px;
    align-items: center;
    gap:16px;
    border: 6px inset #3845F1;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    overflow: visible;

}
.hhh{
  position: absolute;
   bottom:363px;
 right: 772px;
  width: 95px !important;
  height: 95px !important;
  object-fit:contain;
  transform: rotate(-20deg);
    filter: drop-shadow(10px 10px #00000050);

}
.like {
  position: absolute;
  background-color: #1b2a7a;
  color: white;
  border: none;
  top:370px;
 left: 700px;
width: 150px;
height: 80px;
  padding: 4px 10px;
  cursor: pointer;
  font-family: 'unifont';
  font-size: 1.8em;
  filter: drop-shadow(10px 10px #00000050);
  border: 5px outset #030748;
}

.like:hover {
  top:380px;
 left: 710px;
 border: 5px inset #030748;
filter: drop-shadow(0px 0px #00000050);


  }

/* 點擊時出現 +1 動畫 */
.like:active::after {
  content: "+1";
  position: absolute;
  bottom: 45px;
  right: 5px;
  color: pink;
  animation: floatUp 0.6s ease-out forwards;
}

@keyframes floatUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.card{
    opacity: 0;
    transform: translateX(100px); 
    animation: slideIn 0.8s ease-out;
    animation-fill-mode: both;
    animation-timeline: inherit;
}


.ppp a:hover{  
    display: block;
    transform: scale(1.25);
    transition: all 0.6s ease-in-out;
}
.ppp{
     position: relative;
     display: inline-block;
     bottom: 30px;
     left: 30px;
}
.ppp img{
    width: 100%;
    height: auto;
    display: block;
margin-left: 60px;
bottom: 60px;
    margin-bottom: 20px;
}
.ppp p {
    position: absolute;
    width: 300px;
    top: 85px;
    margin-left: 60px;
    margin-bottom: 30px;
    display: grid;
    font-size: 1.4em;
    color: white;
    padding: 8px;
    border-radius: 8px;
    line-height: 1.4;
    }
    .ppp a{
        display: inline;
        color: white;
        text-decoration:solid;
    }
    .ppp h1{
        color: white;
  margin-left: 130px;
  font-size: 2.8em;
  right: 100px;
    }
   .card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin-left: 20px;
}

.t1, .t2 {
  position: relative;        /* 讓裡面的東西相對定位 */
  width: 300px;              /* 依你的對話框圖片寬度調整 */
  height: 80px;              /* 依你的對話框圖片高度調整 */
  margin: 30px 0;
}

.t1 img, .t2 img {
  position: absolute;
  width: 120%;
  height: auto;
  left: 30px;
  top: 0;
}

.t1 p, .t2 p {
  position: absolute;
  top: 10%;
  left: 35%;
  color: white;
  font-size: 1.3em;
  margin: 0;
  line-height: 1.5;
}
.mo{
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mo img{
    left: 550px;
width: 60px;
height: 60px;
}
.mo a{
    width: 120px;
    left: 500px;
    height: 40px;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 9px;
    bottom: 60px;
     text-decoration:solid;
    background-color:  #002D61;
    color: white;
     border: 3px inset #3845F1;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    align-items: center;
   
}
.mo a:hover{
    background-color: #1C6DC3;
    border-style: outset;
}
.thing_cats_03{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 50px;
}
.thing_cats_04{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 700px;
    right: 50px;
}
.thing_cats_12{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 1300px;
    left: 50px;
}


.thing_cats_05{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 1800px;
    right: 50px;
}
.thing_cats_06{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 2300px;
    left: 50px;
}
.thing_cats_11{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 2800px;
    right: 50px;
}
.thing_cats_07{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 3300px;
    left: 50px;
}
.black_cat{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 3800px;
    right: 50px;}
    
   footer{
   
background-size:contain;
       text-align:center;
   
    align-items: center;

    width: 100%;
    height: 100px;
    top: 0;
  font-family: 'unifont';
}
footer p{
    position: relative; 
    bottom:-20px;
    font-family: 'unifont';
font-size:16px;
    color:#ffffff;
     background-color:#00000085;
     display: inline;
    padding:5px;
    
}
footer a{
     color:#ffffff;
 
     display: inline-block;
    font-family: 'unifont';
    font-size:20px;
    padding:0 20px 0 20px
}