@font-face {
    font-family: 'unifont'; 
    src: url('unifont-17.0.02.otf') format('opentype');
    }
p,h1,h2,h3,a{
    font-family: 'unifont';
    line-height: 1.4;
}
body{
    margin: 0;
    background: linear-gradient(#14346D, #383bff);}

header{
    background-color: #003266;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 3px solid #3845F1;
}

header h1{
    color: white;
    font-size: 2em;
    margin-left: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1px;
    margin-right: 60px;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #1d3f7a;
    border: 3px inset #3845F1;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
nav a:hover{
    background-color: #1C6DC3;
    border-style: outset;
}
.now{
    background-color: #1C6DC3;
    border-style: outset;
}


div maincard {
    background-color:#3945f8;
flex: 1 1 auto;
 border-style: outset;
margin:5%;
height:21vw;
    text-align: center;
        border: 100px outset #0c1cf5;
        border-width:10px;
      
        
        color:#ffffff;
}

maincard p{
margin-top: 20%;
    font-size:150%;
   font-family: 'unifont'
}
maincard img{


    filter: drop-shadow(5px 5px #00000050);
    margin-top:20%;
    margin-bottom:5%;
    height:25%;
    width:25%;
    align-items: center;
    background-color:#02125A;
}

footer{
   
background-size:contain;
       text-align:center;
   
    align-items: center;

    width: 100%;
    height: 100px;
    top: 0;
  font-family: 'unifont';
}
footer p{position: relative; 
    bottom:-20px;
    font-family: 'unifont';
font-size:16px;
    color:#ffffff;
     background-color:#00000085;
     display: inline;
    padding:5px;
    
}
footer a{
     color:#ffffff;
 
     display: inline-block;
    font-family: 'unifont';
    font-size:20px;
    padding:0 20px 0 20px
}